version: 2

jobs:
  build:
    docker:
      - image: docker:18.06.1-ce-git
    working_directory: ~/CircleCI/docker-airflow
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: |
          docker build -t bliseng/airflow .

  test:
    docker:
      - image: docker:18.06.1-ce-git
    steps:
      - setup_remote_docker
      - run: |
          docker run bliseng/airflow version | grep '1.10.2'

  deploy:
    docker:
      - image: docker:18.06.1-ce-git
    steps:
      - setup_remote_docker
      - run: |
          echo $DOCKER_PWD | docker login -u $DOCKER_LOGIN --password-stdin
           docker push bliseng/$IMAGE_NAME:$CIRCLE_TAG

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
  deploy:
    jobs:
      - deploy:
          filters:
            tags:
              only: /^[\d\.]+/
